* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 28px;
}

body{
  background-color: #bababa;
}

.container{
  padding-top: 100px;
}
.main-container-calc{
  width: 240px;
  background-color: rgb(206, 35, 35);
  margin: auto;
  border: none;
  border-radius: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button{
  border: none;
  height: 60px;
  width: 60px;
}

.displayVal{
  background-color: rgb(0, 0, 0);
  padding: 5%;
  width: 90%;
  text-align: right;
  font-size: 40px;
  color: #fff;
  border: none;
  border-radius: 18px 18px 0 0;
}

.buttonsDisplay{
  background-color: aqua;
  border: none;
  border-radius: 0 0 18px 18px;
}

.btnNum{
  background-color: #3a3a3a;
  color: #fff;
}

.btnNum:hover{
  background-color: #2e2e2e;
  color: #fff;
}

.btnOp{
  background-color: #fff;
}

.btnOp:hover{
  background-color: rgb(209, 209, 209);
}

.btnPlus{
  background-color: #fff;
  border-radius: 0 0 18px 0;
  border: none;
}

.btnPlus:hover{
  background-color: rgb(209, 209, 209);
}

.btnClr{
  background-color: #FFA500;
  border-radius: 0 0 0 18px;
  border: none;
}

.btnClr:hover{
  background-color: #ce8600;
  color: #fff;
}

.btnEq{
  background-color: #FFA500;
}

.btnEq:hover{
  background-color: #ce8600;
  color: #fff;
}