.main-container-calc{
  justify-content: center;
  padding: 10px;
  width: 250px;
  background-color: rgb(143, 143, 143);
}

button{
  margin: 5px;
  height: 50px;
  width: 50px;
}

.displayVal{
  width: 240px;
  text-align: right;
  border: 1px solid;
}

